---
import MainLayout from "../layouts/MainLayout.astro";
import Buttondesk from "../components/Buttondesk.astro";
import Buttonmobile from "../components/Buttonmobile.astro";
import { Image } from 'astro:assets';
import bidragsvg from "../assets/images/bidragsvg.svg";
import pilicon from "../assets/images/SVG/pilicon.svg";
---
<MainLayout title="Registrér">
	<article class="bg-blå800 px-[36px] lg:px-[48px] poppins-regular leading-8">
		<section class="flex flex-col items-center">
			<h1 class="pt-32 pb-[20px] lg:pb-[80px] text-lyseblå w-[358px] text-3xl lg:text-5xl text-center h-[42px] lg:w-auto">Registrér dit bidrag</h1>
		</section>

	
    	<section id="formular" class="text-mørkerødtekst pt-[28px] lg:grid lg:grid-cols-2 lg:items-center lg:justify-center">
			<Image src={bidragsvg} alt="To hænder der næsten giver highfive" class="pt-[45px] pb-[40px] lg:pt-0 w-[358px] h-[265px] lg:h-[646px] mx-auto lg:place-self-center lg:w-9/12"/>

			<form name="registrer" method="post" class="grid grid-cols-1 gap-2 max-w-md mx-auto" data-netlify="true">

				<label for="fornavn"></label>
				<input type="text" id="fornavn" name="fornavn" placeholder="Fornavn" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="efternavn"></label>
				<input type="text" id="efternavn" name="efternavn" placeholder="Efternavn" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="email"></label>
				<input type="email" id="email" name="email" placeholder="Email" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="land"></label>
				<input type="text" id="land" name="land" placeholder="Land" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="org"></label>
				<input type="text" id="org" name="org" placeholder="Organisation navn" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="xdeltager"></label>
				<input type="number" id="xdeltager" name="xdeltager" placeholder="Antal deltagere" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<label for="gb"></label>
				<input type="number" id="gb" name="gb" placeholder="Mængde slettet (i GB)" class="mb-[8px] rounded-xl bg-lyseblå h-[53px] border-blå700
				shadow-sm focus:border-rødorange focus:ring focus:ring-rødorange/50"></input>

				<div class="pb-[20px]">
					<div class="pt-[4px] flex gap-4 items-center mb-[16px]">
					<input type="checkbox" id="vilkaar" name="vilkaar" class="rounded-xl border-blå700 h-6 w-6 shadow-sm
						focus:border-rødorange focus:ring focus:ring-rødorange/50 hover:bg-red-300 checked:bg-rødorange"></input>
						<div>
					<label for="vilkaar" class="text-rødorange">*Jeg accepterer</label>
					<label for="vilkaar"><a href="https://www.digitalcleanupday.org/terms-conditions" target="_blank"><span class="[text-decoration:underline] text-mørkerød"><br/>Let's Do It, Worlds vilkår og betingelser</span></a></label>
					</div>
					</div>

					<div class="pt-[4px] flex gap-4 items-center">
					<input type="checkbox" id="vilkaar" name="vilkaar" class="rounded-xl border-blå700 h-6 w-6 shadow-sm
						focus:border-rødorange focus:ring focus:ring-rødorange/50 hover:bg-red-300 checked:bg-rødorange"></input>
						<div>
					<label for="vilkaar" class="text-rødorange">Jeg vil gerne tilmelde mig nyheder fra<br/>World Cleanup Day.</label>
					</div>
					</div>
				</div>
	
				<div class="pb-[40px] flex justify-center">
				<Buttonmobile>
					<input type="submit" value="Tilmeld mig">

					<Image src={pilicon} alt="To hænder der næsten giver highfive" class="max-w-[24px]"/>
				</Buttonmobile>
				</div>
			</form>
		</section>
	</article>
</MainLayout>
