---
import MainLayout from "../layouts/MainLayout.astro";
import Buttondesk from "../components/Buttondesk.astro";
import Buttonmobile from "../components/Buttonmobile.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Ressourcer">
    <article class="bg-blå800">
        <h1 class="pt-32 relative text-3xl poppins-regular text-[#dcf3f9] text-center flex items-center justify-center h-[42px]">Ressourcer og materialer</h1>

        <section class="px-[16px] py-[40px] w-full relative flex flex-row items-center justify-between flex-wrap gap-[36px] content-center text-center text-[14px] text-rødorange poppins-regular">
            <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/person.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Vejledning for enkeltpersoner</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/companyhelp.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Vejledning for virksomheder</p>
                </div>
            </div>

             <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/school.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Vejledning for skoler</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/church.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Vejledning for kommuner</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/laptop.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Hvordan du rydder op på din smartphone og tablet</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/mail.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Hvordan du rydder op i dine e-mails</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/phone.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Hvordan du rydder op op din smartphone og tablet</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/deltager1.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Deltager-dataindsamling 1</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/deltager1.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Deltager-dataindsamling 2</p>
                </div>
            </div>

              <div>
                <div class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]">
                    <img src="src/assets/images/ressourcer_svg/companyhelp.svg" alt="Person Svg" class="w-full relative h-[75px]">
                </div>
                <div class="self-stretch relative rounded-[12px]">
                    <p class="mt-[14px] min-h-[70px] left-0 inline-block w-[158px] text-[14px] poppins-regular text-rødorange text-center">Marketingmaterialer</p>
                </div>
            </div>
        </section>
    </article>
</MainLayout>