---

---

<div class="bg-rødorange">
  <p class="poppins-regular text-center pt-16 md:text-xl text-mørkeblåtekst">
    Digital Cleanup Day i numre
  </p>

  <div class="flex justify-center pt-8">
    <div
      class="grid grid-cols-3 justify-items-center gap-10 md:gap-20 pt-8 pb-12"
    >
      <img
        src="/src/assets/images/SVG/footer1.svg"
        alt=""
        class="w-20 h-auto"
      />
      <img
        src="/src/assets/images/SVG/footer2.svg"
        alt=""
        class="w-20 h-auto"
      />
      <img
        src="/src/assets/images/SVG/footer3.svg"
        alt=""
        class="w-20 h-auto"
      />
    </div>
  </div>

  <p class="px-12 text-mørkeblåtekst leading-8 poppins-regular md:px-48">
    Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale
    liv, ligesom vi renser vores fysiske miljø på <a
      class="text-mørkerød underline"
      href="https://www.worldcleanupday.org/">World Cleanup Day</a
    >. <br />
    <br />Nu på sit femte år og organiseret af Let's Do It World, har Digital
    Cleanup Day til formål at skabe opmærksomhed om digital forurening <br /> og
    opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere
    deres online tilstedeværelse.
  </p>

  <p class="px-12 text-mørkeblåtekst leading-8 py-6 poppins-regular md:px-48">
    Roosikrantsi 3, TALLINN 10119, Estonia <br /> Reg. code - 80562203
  </p>

  <p
    class="px-12 text-mørkeblåtekst leading-8 pb-6 poppins-regular underline md:px-48"
  >
    <a href="digital@ldiw.org">digital@ldiw.org</a>
  </p>

  <div class="flex justify-center pt-8">
    <div class="grid grid-cols-6 justify-items-center gap-10 pt-8 pb-12">
      <a
        href="https://x.com/i/flow/login?redirect_after_login=%2Fletsdoitworld"
      >
        <img src="/src/assets/images/SVG/x.svg" alt="x logo" /></a
      >

      <a href="https://www.youtube.com/worldcleanupday">
        <img src="/src/assets/images/SVG/youtube.svg" alt="youtube logo" />
      </a>

      <a href="https://www.linkedin.com/company/world-cleanup-day-official">
        <img src="/src/assets/images/SVG/linkedin.svg" alt="linkedin logo" />
      </a>

      <a href="https://www.instagram.com/worldcleanupday.global/">
        <img src="/src/assets/images/SVG/instagram.svg" alt="instagram logo" />
      </a>

      <a href="https://www.facebook.com/worldcleanupday.global"
        ><img
          src="/src/assets/images/SVG/facebook.svg"
          alt="facebook logo"
        /></a
      >

      <a href="https://www.tiktok.com/@worldcleanupday.global"
        ><img src="/src/assets/images/SVG/tiktok.svg" alt="tiktok logo" /></a
      >
    </div>
  </div>
</div>
